* {
    margin: 0;
    padding: 0;
}

#WIDTH {
    padding: 1% 3% ;
    
}

.HEAD { 
    text-align: center;
    
}

#EDUCATION {
    text-align: left;
}

.education-decribel {
    list-style-type: disc;
}

.education-decribe > li {
    display: inline-block;
}