* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

hr {
 border: 0;
  border-top: 2px solid black;
  font-size: 0;
  line-height: 0;
    
}

.date {
   float: right;
}

#WIDTH {
    padding: 1% 15% ;
    
}

.HEAD { 
    text-align: center;
    
}

#EDUCATION {
    text-align: left;
}

.education-decribel {
    list-style-type: disc;
}

.education-decribe > li {
    display: inline-block;
}